.square {
    display: inline-block;
    vertical-align: top;
}

.square svg {
    width: inherit;
    height: inherit;
}

.square div {
    width: 100%;
    height: 100%;
}

.blackSquare {
    background-color: black;
    background-color: #b58863;
}

.whiteSquare {
    background-color: white;
    background-color: #FFCC99;
}
.glowBorder {
    -webkit-box-shadow:0 0 20px yellow; 
    -moz-box-shadow: 0 0 20px yellow; 
    box-shadow:0 0 20px yellow;

}

.possibleSquare {
background-color: aqua;
}
 svg {

    filter:
        drop-shadow(-1px -1px 0px #fff) drop-shadow(1px -1px 0px #fff) drop-shadow(1px 1px 0px #ffff) drop-shadow(-1px 1px 0px #fff)
}